body {
    background-color: #111;
    color: #ff4444;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20vh;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
}

.date {
    font-weight: bold;
    color: #ffffff;
}

.profile-img img {
    border-radius: 50%;
    width: 150px; /* Ajuste la taille de l'image selon tes préférences */
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

